@import "../base/variables";

.header {
  height: 75px;
  padding: 20px $horizontalPaddingXS;
  border-bottom: 1px solid $keylineColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media all and (min-width: $widthXS + 1) {
    padding-left: $horizontalPaddingSM;
    padding-right: $horizontalPaddingSM;
  }
}

.logo {
  height: 35px;
  order: 1;
}

.contactUs {
  margin-top: 2px;
  order: 2;
  display: flex;
  align-items: center;
  padding-left: 20px;
  @media all and (min-width: $widthXS + 1) and (max-width: $widthSM) {
    border-left: 1px solid $keylineColor;
  }
  &__label {
    color: $secondaryTextColor;
    margin-right: 20px;
  }
  &__tel {
    margin-left: 10px;
  }
}