//Screen widths
$widthXS: 320px;
$widthSM: 768px;

//Colors
$keylineColor: #e9e9e9;
$secondaryTextColor: #cccccc;
$primaryBtnColor: #ffcc33;

//Layout
$horizontalPaddingXS: 20px;
$horizontalPaddingSM: 30px;

