@import "variables";

.btn {
  background-color: $primaryBtnColor;
  padding: 12px 20px;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-bottom: 2px solid #cc9933;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}